.price {
  padding: 75px 32px;
  
  &__title {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    /* 110% */
    letter-spacing: -1.6px;
    text-transform: uppercase;
  }

  &__descr {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 14px;
    width: 48%;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.56px;
    margin-bottom: 44px;

  }

  &__block {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 24px;


  }
  

  &__item {
    position: relative;
    // padding: 64px 24px 24px 24px;
    padding-top: 90px;
    padding-bottom: 40px;
    padding-left: 5%;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: 0 auto;
 

    img {
      display: flex;
      justify-content: space-between;
      align-items: center;




    }


    span  {
      display: block;
      position: absolute;

      top: 30px;
      left: 24px;
      color: #FFF;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
      /* 118.75% */
      letter-spacing: -1.28px;
    }
  

    p {
      display: block;
      position: absolute;
      top: 70px;
      left: 24px;
      color: #FFF;
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 133.333% */
      letter-spacing: -0.36px;
      margin-bottom: 0;
    }

  }

  &__label {
    display: inline-block;
    padding: 15px 42px;
    min-width: 140px;
    border-radius: 200px;
    background: #FFF;
    color: #AE1332;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
    /* 133.333% */
    letter-spacing: -0.72px;

    &:hover {
      text-decoration: none;
      color: #AE1332;

    }




  }

  &__item:nth-child(1) {
    background-color: #F8766B;
    ;
  }

  &__item:nth-child(2) {
    background-color: #EDD251;
    ;
  }

  &__item:nth-child(3) {
    background-color: #9DC262;
    ;
  }

  &__item:nth-child(4) {
    background-color: #9DC262;
    ;
  }

  &__item:nth-child(5) {
    background-color: #E93F29;
    ;
  }

  &__item:nth-child(6) {
    background-color: #F8766B;
    ;
  }

  &__item:nth-child(7) {
    background-color: #9B5366;
    ;
  }

  &__item:nth-child(8) {
    background-color: #F47F4C;
    ;
  }

  &__kiwi:nth-child(9) {
    background-color: #98B37E;
    ;
  }
&__kiwi {
  position: relative;
  // padding: 64px 24px 24px 24px;
  padding-top: 90px;
  padding-bottom: 40px;
  padding-left: 5%;
  border-radius: 20px;
  width: auto;
  height: auto;
  margin: 0 auto;
  
  p {
    display: block;
    position: absolute;
    top: 70px;
    left: 24px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.36px;
    margin-bottom: 0;
  }
  span  {
    display: block;
    position: absolute;

    top: 30px;
    left: 24px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    /* 118.75% */
    letter-spacing: -1.28px;
  }
}


  &__order {
    display: block;
    position: relative;
    margin: 44px auto;
    width: 114px;
    height: 114px;
    padding-left: 10px;
    background-color: #9DC262;
    border-radius: 50%;
    border: none;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    transform: rotate(-12deg);
    transition: transform 0.5s ease;

    &:before {
      content: url(../../icons/Vector.svg);
      // background-color: #98B37E;
      position: absolute;
      left: 10px;
      top: 45px;



    }

    &:hover {
      transform: scale(1.3);
      transform: rotate(10deg);
      background-color: #F47F4C;
      // background:none;
      // color: #98B37E;
    }

  }

<<<<<<< HEAD
  &__basket_active {
    position: relative;
=======
  &__bascket_active {
>>>>>>> 29909a5a1fc143af5aebfe26c8ecdd8821e3e1c0
    display: none;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    width: 55.6875rem;
    height: 56.9375rem;
    background-color: #FFF;
    border-radius: 1.25rem;
    margin: 0 auto;
  }

<<<<<<< HEAD
  &__basket_title {
=======
  &__bascket_title {
>>>>>>> 29909a5a1fc143af5aebfe26c8ecdd8821e3e1c0
    color: #AE1332;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: "DM Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    /* 110% */
    letter-spacing: -0.1rem;
    text-transform: uppercase;
  }

<<<<<<< HEAD
  &__basket_block {
=======
  &__bascket_block {
>>>>>>> 29909a5a1fc143af5aebfe26c8ecdd8821e3e1c0
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 16.0625rem 16.0625rem 16.0625rem;
    grid-template-rows: 19.25rem;
    gap: 1.25rem;


  }

<<<<<<< HEAD
  &__basket_item {
    position: relative;
    padding: 2.5rem 3rem 0.9rem 1.2rem;
    border-radius: 1.25rem;

=======
  &__bascket_item {
    position: relative;
    padding: 2.5rem 2.63rem 0.9rem 2.62rem;
    border-radius: 1.25rem;
>>>>>>> 29909a5a1fc143af5aebfe26c8ecdd8821e3e1c0
    &-apple {
      position: relative;
      border-radius: 1.25rem;
      padding: 2.5rem 2.63rem 0.9rem 0.9rem;
    }

<<<<<<< HEAD

  }

  &__basket_input {
=======
  
  }
  &__bascket_input {
>>>>>>> 29909a5a1fc143af5aebfe26c8ecdd8821e3e1c0
    position: absolute;
    right: 1rem;
    top: 0.80rem;
  }

<<<<<<< HEAD
  .contact {
    margin-bottom: 1rem;
    border-radius: 6.25rem;
    border: 1px solid #000;
    opacity: 0.6;
    padding-left: 0.5rem;
    width: 20rem;
    height: 3rem;

  }

  &__form-descr {
    display: inline-block;
    resize: none;
    border-radius: 1.25rem;
    border: 1px solid #000;
    opacity: 0.6;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    width: 20rem;
    height: 9.0625rem;

  }

  &__btn {
    display: inline-block;
    color: white;
    margin-right: -1.1rem;
    padding: 0.9375rem 2.1875rem;
    border-radius: 6.25rem;
    background: #9DC162;
    border: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    /* 128.571% */
    letter-spacing: -0.035rem;
    text-transform: capitalize;
    margin-top: 1.25rem;
  }

  .close {
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    right: 1rem;
    top: 1rem;
    background-color: #FFF;
    border: none;
  }

  &__form-girl {
    width: 29.4375rem;
    height: 28.625rem;
    margin-left: 3rem;


  }

  &__thanks {
    margin: 0 auto;
    position: relative;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4.25rem 10.1rem 14.1rem 10.1rem;
    width: 37.5rem;
    height: 34.0625rem;
    border-radius: 20px;
  }

  // 

  &__thanks-title {
    margin-top: 1rem;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: "DM Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    /* 110% */
    letter-spacing: -0.1rem;
    text-transform: uppercase;
  }

  &__thanks-subtitle {
    margin-top: 1rem;
    text-align: center;
    min-width: 24.4375rem;
    ;
    color: #FFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: "DM Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    /* 128.571% */
    letter-spacing: -0.035rem;
  }

  &__close-thanks {
    background-color: transparent;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    right: 0.5rem;
    top: 1rem;
  }
=======
>>>>>>> 29909a5a1fc143af5aebfe26c8ecdd8821e3e1c0


}